.modal-wrapper {
  background: white;
  width: 80%;
  max-width: 800px;
  margin: 4rem auto;
}

.modal-header {
  background: #2c2c2c;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  padding: 1.5rem 1rem;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body h4 {
  font-size: 1.8rem;
  color: coral;
}

.modal-body p {
  font-size: 1rem;
  background: #eee;
  color: #333;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.modal-footer button {
  display: block;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #dd501d;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
