/* Header one styling */
h1 {
  text-align: center;
  margin: 25px;
  padding: 25px;
}

/* Button styling and positioning */
button {
  text-align: center;
  background-color: blue;
  border: none;
  color: white;
  padding: 15px;
  font-size: 16px;
}

.button-styling {
  display: flex;
  justify-content: center;
}

/* Grid styling  */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  grid-template-rows: repeat(13, 8rem);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-auto-flow: column;
  text-align: center;
}

.grid-item {
  padding: 20px;
}

/* Section of images displayed */
section {
  margin: 10px;
}

/* Desktop Styling */
@media all and (min-width: 800px) {
  main {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 80px;
  }

  /* Desktop Grid styling  */
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 15rem);
    grid-template-rows: repeat(5, 15rem);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-flow: column;
    text-align: center;
  }
}
